.Header {
  color: white;
  height: 3em;
  position: fixed;
  padding: 0.5vw 1.5%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-sizing: content-box;
}

.Header h1 {
  text-align: center;
  padding: 0.4em 1em;
  font-size: 150%;
}

.Header button {
  color: white;
  position: absolute;
  width: 3em;
  height: 3em;
  margin: 0 1.5%;
  border-radius: 0.25em;
  cursor: pointer;
}

.Header button.primary { left: 0 }
.Header button.primary ~ h1 { padding-left: 3rem }

.Header button.secondary { right: 0 }
.Header button.secondary ~ h1 { padding-right: 3rem }