.Map {
  transition: 250ms 67ms ease;
}

.Map[hidden] {
  display: block;
  opacity: 0;
  transform: scale(0.875);
}

.mapbox-gl-container {
  color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mapboxgl-canvas-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl.mapboxgl-ctrl-attrib a {
  color: #888;
  font-family: Avenir, system;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  background-color: transparent;
  padding: 0.5em;
  opacity: 0.75;
}