.History {
  padding: 1em;
  transition: 167ms ease;
  background-color: white;
  /*padding-top: 4em;*/
}

.iOS.standalone .History header  { top: 20px }
.iOS.standalone .History section.content {
  top: calc(3em + 20px);
}

.History[hidden] {
  display: block;
  opacity: 0.75;
  transform: translateX(100%);
  top: 0;
  transform-origin: center;
}

.History header {
  color: white;
  background-color: #061420;
  width: 100%;
  height: 3em;
  padding: 0.5vw 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 240ms 100ms;
  box-shadow: 0 0 1px 0 rgba(0,0,0,.25);
  box-sizing: content-box;
}

.History header h1 {
  text-align: center;
  padding: 0.625em 0;
  font-size: 125%;
  transform-origin: center;
  transition: 100ms 67ms ease-out;
}

.History[hidden] header h1 {
  opacity: 0;
  transform: translateX(20%);
}

.History section.content {
  background: inherit;
  position: absolute;
  top: 3em;
  margin-top: 1vw;
  bottom: 4em;
  left: 0;
  right: 0;
  overflow: auto;
}

.History button {
  position: absolute;
  font-weight: 500;
}

.History nav {
  background-color: red;
  height: 3em;
}

.History button {
  background: transparent;
  color: #3296ff;
  padding: 0.3vw calc(0.25em + 0.5vw);
  height: 1.6em;
  right: 1.25em;
  box-sizing: content-box;
  border-radius: 0.125em;
  cursor: pointer;
  top: 0.625em;
  margin-top: 0.25vw;
}

