.History {
  padding: 1em;
  transition: 167ms ease;
  background-color: white;
}

.History[hidden] {
  display: block;
  opacity: 0.75;
  transform: translateX(100%);
  top: 0;
  transform-origin: center;
}