.LocationToggle {
  color: #fff;
  background-color: #141820;
  text-indent: -999em;
  font-size: 112.5%;
  width: 3em;
  height: 3em;
  padding: 0.875em 0.5em 1.25em;
  margin: 0 0 0 0;
  border-radius: 1.5em;
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  z-index: 100;
  cursor: pointer;
}

.LocationToggle .Icon {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.5em;
}

.LocationToggle.loading .Icon {
  opacity: 0.5;
  animation: loading 600ms infinite alternate;
}

@keyframes loading {
  from { opacity: 1 }
  to { opacity: 0.25 }
}