.Tutorial {
  transition: 100ms ease-in;
  background-color: rgba(0,0,0,0.4);
  height: 100%;
}

/*.iOS.standalone .Tutorial header  { top: 20px }
.iOS.standalone .Tutorial .content {
  top: calc(3em + 20px);
}*/

.Tutorial header {
  /*color: white;*/
  /*background-color: #061420;*/
  height: 3em;
  padding: 0 1.5% 1vw;
  /*position: absolute;*/
  /*top: 0;
  left: 0;
  right: 0;*/
  /*z-index: 1000;*/
  transition: 240ms 100ms;
  /*box-shadow: 0 0 1px 0 rgba(0,0,0,.25);*/
  box-sizing: content-box;
}

.Tutorial[hidden] header {
  opacity: 0;
}

.Tutorial header h1 {
  text-align: center;
  padding: 0.625em 0;
  font-size: 125%;
}

.Tutorial article {
  padding: 1vw 2vw;
  top: 3em;
  margin: 1vw 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.Tutorial article section {
  background-color: white;
  max-width: 48em;
  padding: 1em calc(1em + 1vw) calc(1em + 1vw);
  margin: 0 auto;
  border-radius: 0.25em;
  transition: 240ms 500ms ease-in-out;
}

.Tutorial button {
  background: #eee;
  padding: 0.25vw calc(0.5em + 0.5vw) 0.4vw;
  height: 1.5em;
  box-sizing: content-box;
  border-radius: 0.25em;
  cursor: pointer;
}

.Tutorial[hidden] article section {
  transform: scale(0.875);
  opacity: 0;
}

.Tutorial ol {
  padding: 0.25em 1em;
}

.Tutorial ol li {
  margin: 0 0 1em;
  list-style: initial;
}

.Tutorial[hidden] {
  display: block;
  opacity: 0;
  transform-origin: center bottom;
  pointer-events: none;
}

.Tutorial aside {
  border-left: 3px solid #ddd;
  margin: 1em 0;
  line-height: 1.4;
  padding: 0.5em 0 0.5em 0.5em;
}

.Tutorial aside img {
  float: left;
  margin: -0.4em 0.25em 0 0;
}