.Information {
  transition: 100ms ease-in;
  background-color: rgba(0,0,0,.5);
  height: 100%;
}

.iOS.standalone .Information header  { top: 20px }
.iOS.standalone .Information .content {
  top: calc(3em + 20px);
}

.Information header {
  color: white;
  background-color: #061420;
  height: 3em;
  padding: 0.5vw 1.5%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: 240ms 100ms;
  box-shadow: 0 0 1px 0 rgba(0,0,0,.25);
  box-sizing: content-box;
}

.Information[hidden] header {
  opacity: 0;
}

.Information header h1 {
  text-align: center;
  padding: 0.625em 0;
  font-size: 125%;
}

.Information article {
  padding: 2vw 2vw 5em;
  top: 3em;
  margin: 1vw 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.Information article section {
  background-color: white;
  max-width: 48em;
  padding: calc(1em + 1vw);
  margin: 0 auto;
  border-radius: 0.25em;
  transition: 240ms 500ms ease-in-out;
}

.Information button {
  background: #eee;
  padding: 0.25vw calc(0.5em + 0.5vw) 0.4vw;
  height: 1.5em;
  box-sizing: content-box;
  border-radius: 0.25em;
  cursor: pointer;
}

.Information[hidden] article section {
  transform: scale(0.875);
  opacity: 0;
}

.Information ol {
  padding: 0.25em 1em;
}

.Information ol li {
  margin: 0 0 1em;
  list-style: initial;
}

.Information[hidden] {
  display: block;
  opacity: 0;
  transform-origin: center bottom;
  pointer-events: none;
}

.Information aside {
  border-left: 3px solid #ddd;
  margin: 1em 0;
  line-height: 1.4;
  padding: 0.5em 0 0.5em 0.5em;
}

.Information aside img {
  float: left;
  margin: -0.4em 0.25em 0 0;
}